@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = Model.Id == null ? "Add Role" : "Edit Role";
}

<h2>@ViewData["Title"]</h2>

<form method="post" id="roleForm">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Role Name</label>
        <input asp-for="Name" class="form-control" required id="roleName" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
