
@{
    ViewData["Title"] = "AllUnits";
}
<div class="">
    <h2 class="text-md">All Units</h2>
    <a href="#" class="btn btn-primary i-con-h-a"><i class="i-con i-con-plus"><i></i></i> Add Unit</a>
    <button class="btn btn-outline-secondary">PLANS</button>
    <div class="table-reponsive">
        <table class="table table-row table-theme v-middle dataTable">
            <thead>
                <tr>
                    <th><input type="checkbox" name="SelectAll" /></th>
                    <th>Floor, ID</th>
                    <th>Status</th>
                    <th>Payment Plan</th>
                    <th>Type</th>
                    <th>View</th>
                    <th>Total Area</th>
                    <th>Price</th>
                    <th>Actions</th>
                    <th>Docs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" name="" />
                    </td>
                    <td>
                        1 , <strong>A-101</strong>
                    </td>
                    <td>
                        Available
                    </td>
                    <td>
                        <button class="btn btn-sm btn-rounded btn-outline-secondary">60% Cons..</button>
                    </td>
                    <td>
                        2BR
                    </td>
                    <td>Sea View</td>
                    <td>1,345.45 sqft</td>
                    <td><i>AED</i>4,454,5</td>
                    <td>
                        <a href="#" class="text-dark i-con-h-a"><i class="fa fa-medkit"><i></i></i></a>
                        <a href="#" class="text-primary i-con-h-a"><i class="fa fa-eye"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="fa fa-cog"><i></i></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-file"><i></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="" />
                    </td>
                    <td> 
                        1 , <strong>A-101</strong>
                    </td>
                    <td>
                        Available
                    </td>
                    <td>
                        <button class="btn btn-sm btn-rounded btn-outline-secondary">60% Cons..</button>
                    </td>
                    <td>
                        2BR
                    </td>
                    <td>Sea View</td>
                    <td>1,345.45 sqft</td>
                    <td><i>AED</i>4,454,5</td> 
                    <td>
                        <a href="#" class="text-dark i-con-h-a"><i class="fa fa-medkit"><i></i></i></a>
                        <a href="#" class="text-primary i-con-h-a"><i class="fa fa-eye"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="fa fa-cog"><i></i></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-file"><i></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="" />
                    </td>
                    <td>
                        1 , <strong>A-101</strong>
                    </td>
                    <td>
                        Available
                    </td>
                    <td>
                        <button class="btn btn-sm btn-rounded btn-outline-secondary">60% Cons..</button>
                    </td>
                    <td>
                        2BR
                    </td>
                    <td>Sea View</td>
                    <td>1,345.45 sqft</td>
                    <td><i>AED</i>4,454,5</td>
                    <td>
                        <a href="#" class="text-dark i-con-h-a"><i class="fa fa-medkit"><i></i></i></a>
                        <a href="#" class="text-primary i-con-h-a"><i class="fa fa-eye"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="fa fa-cog"><i></i></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-file"><i></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="" />
                    </td>
                    <td>
                        1 , <strong>A-101</strong>
                    </td>
                    <td>
                        Available
                    </td>
                    <td>
                        <button class="btn btn-sm btn-rounded btn-outline-secondary">60% Cons..</button>
                    </td>
                    <td>
                        2BR
                    </td>
                    <td>Sea View</td>
                    <td>1,345.45 sqft</td>
                    <td><i>AED</i>4,454,5</td>
                    <td>
                        <a href="#" class="text-dark i-con-h-a"><i class="fa fa-medkit"><i></i></i></a>
                        <a href="#" class="text-primary i-con-h-a"><i class="fa fa-eye"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="fa fa-cog"><i></i></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-file"><i></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="" />
                    </td>
                    <td> 
                        1 , <strong>A-101</strong>
                    </td>
                    <td>
                        Available
                    </td>
                    <td>
                        <button class="btn btn-sm btn-rounded btn-outline-secondary">60% Cons..</button>
                    </td>
                    <td>
                        2BR
                    </td>
                    <td>Sea View</td>
                    <td>1,345.45 sqft</td>
                    <td><i>AED</i>4,454,5</td> 
                    <td>
                        <a href="#" class="text-dark i-con-h-a"><i class="fa fa-medkit"><i></i></i></a>
                        <a href="#" class="text-primary i-con-h-a"><i class="fa fa-eye"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="fa fa-cog"><i></i></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-file"><i></i></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>