
@{
    ViewData["Title"] = "PaymentPlans";
}
<div class="">
    <h2 class="text-md">Payment Plans</h2>
    <div class="table-reponsive">
        <table class="table table-row table-theme v-middle dataTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Installments</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                         20% upfront
                    </td>
                    <td>10</td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-edit"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="i-con i-con-trash"><i></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        20% upfront
                    </td>
                    <td>10</td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-edit"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="i-con i-con-trash"><i></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        20% upfront
                    </td>
                    <td>10</td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-edit"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="i-con i-con-trash"><i></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        20% upfront
                    </td>
                    <td>10</td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-edit"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="i-con i-con-trash"><i></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        20% upfront
                    </td>
                    <td>10</td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-edit"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="i-con i-con-trash"><i></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        20% upfront
                    </td>
                    <td>10</td>
                    <td>
                        <a href="#" class="text-primary i-con-h-a"><i class="i-con i-con-edit"><i></i></i></a>
                        <a href="#" class="text-danger i-con-h-a"><i class="i-con i-con-trash"><i></i></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>