@model DMS.Models.ViewModels.CountryViewModel
@{
    ViewData["Title"] = Model.Country_Id == 0 ? "Add Country" : "Edit Country";
}
<h2>@ViewData["Title"]</h2>
<form id="countryForm" method="post">
    <input type="hidden" asp-for="Country_Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="form-group">
                <label asp-for="Country_Name">Country Name</label>
                <input asp-for="Country_Name" class="form-control" />
                <span asp-validation-for="Country_Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 mt-4">

            <div class="form-group">
                <label asp-for="Country_Code">Country Code</label>
                <input asp-for="Country_Code" class="form-control" />
                <span asp-validation-for="Country_Code" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4">

            <div class="form-group">
                <label asp-for="Currency_Code">Currency Code</label>
                <input asp-for="Currency_Code" class="form-control" />
                <span asp-validation-for="Currency_Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 mt-4">

            <div class="form-group">
                <label asp-for="Phone_Code">Phone Code</label>
                <input asp-for="Phone_Code" class="form-control" />
                <span asp-validation-for="Phone_Code" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="form-group">
                <label asp-for="Status_Active">Status</label>
                <select asp-for="Status_Active" class="form-control">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
                <span asp-validation-for="Status_Active" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="mt-4">

                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>


</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

